$red: #F0145A;
$orange: #EF8080;
$red-gradient: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
$blue: #24A3FF;
$blue-hover: #0085FF;
$blue-active: #006CCF;
$blue-img: #1C4280;
$dark-img: #143646;
$orange-dark-img: linear-gradient(0deg, #F48B30, #F48B30), #F48B30;
$violet-img: #9E4DC3;
$orange-img: #FD9339;
$gre-img: #E2E2E4;
$blood-red-img: #C71C36;
$turquoise-img: #DCF3F9;
$peach-img: #EAEAEA;
$eggplant-img: #282240;
$dark-black: #000000;
$white: #FFFFFF;
$grey-bg: #F5F5FA;
$grey-bg-alt: #EDEDF7;
$grey-text: #B3B3BA;
$grey-text-opaci: rgba(255, 255, 255, 0.2);
$grey-text-bg: rgba(245, 245, 250, 0.2);
$text-shadow: rgba(40, 40, 86, 0.8);
$grey-separator: #E6E6F0;
$ice: #E7E7F2;
$grey-after: #CACADB;
$black: #252B42;
$main: #323264;
$background-dark: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
$color-tel: #46466E;
$silid-box:rgba(255, 255, 255, 0.3);
$border-scroll-gray: hsla(0, 0%, 100%, 0.500);
$border-scroll-red: rgba(255, 0, 0, 0.500);